<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Benzinci.Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Benzinci.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6044ABED1EB3CB5300DDEC2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EBA7AE1D9C335E0005AAD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70EBA7C21D9C335E0005AAD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
