<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>Benzinci</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Yakınlarıdaki akaryakıt istasyonlarını keşfetmek için konumunuza ihtiyacımız var.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Yakınlarıdaki akaryakıt istasyonlarını keşfetmek için konumunuza ihtiyacımız var.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>gasstation</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Akaryakıt istasyonları</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Benzinlikler</string>
			<key>UIApplicationShortcutItemType</key>
			<string>type1</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>price</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Akaryakıt fiyatları</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Fiyatlar</string>
			<key>UIApplicationShortcutItemType</key>
			<string>type2</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>campaign</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Akaryakıt Kampanyaları</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Kampanyalar</string>
			<key>UIApplicationShortcutItemType</key>
			<string>type3</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
